.raggyContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.raggyContainer::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.raggyContainer::after {
  background: var(--primary-glow);
  /* background: purple; */
  width: 240px;
  height: 180px;
  /* width: 15rem;
  height: 10rem; */
  z-index: -1;
  margin-top: 10rem;

}

.raggyContainer::before,
.raggyContainer::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.raggyPlaceholder {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: rgb(192, 187, 187);
}

.raggyContainer .header {
  background-color: rgb(0, 17, 67);
  padding: 10px 1rem;
  margin-bottom: 1rem;
}

.suggestions {
  display: flex;
  width: 100%;
  overflow-x: auto;
  gap: 2rem;
  padding: 0px 10px;
  white-space: nowrap;
  margin-top: 1rem;
}

.suggestions::-webkit-scrollbar {
  display: none;
}
.suggestions span {
  /* width: 100%; */
  /* flex-shrink: 0; */
  padding: 10px 20px;
  border: 1px dashed rgba(var(--callout-border-rgb),0.6);
  transition: all .2s ease-in-out;
}
.suggestions span:hover {
  background-color: #666;
  cursor: pointer;
}

.messageList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0px 1rem;
  overflow-y: auto;
}

.messageItem {
  background-color: #f1f1f11e;
  padding: 10px 1rem;
  align-self: flex-start;
  max-width: 80%;
  color: rgb(192, 187, 187);
  line-height: 1.6;
}

.messageItem.user {
  align-self: flex-end;
}

.inputContainer {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.inputContainer input {
  width: 100%;
  padding: 0px 10px;
  border: none;
  outline: none;
}

.inputContainer button {
  padding: 10px 1rem;
  border: none;
}

.messageItem ul,
.messageItem ol {
  padding-left: 1.5rem;
  list-style-position: inside; /* keeps ::marker inside */
}

.messageItem blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1rem;
  color: #666;
}

.messageItem pre {
  background: #f6f8fa;
  padding: 0.75rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}
